aiohttp==3.7.4
alabaster==0.7.12
altair==4.1.0
anyio==3.0.1
appdirs==1.4.4
fdargh==0.26.2
fdargon2-cffi==20.1.0
fdastroid==2.5.6
async-timeout==3.0.1
async_generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.6
babel==2.9.1
backcall==0.2.0
backports==1.0
backports.functools_lru_cache==1.6.4
bcrypt==3.2.0
black==21.5b0
bleach==3.3.0
bokeh==2.3.1
boto==2.49.0
boto3==1.17.71
botocore==1.20.71
brotlipy==0.7.0
ca-certificates==2021.4.13
cachetools==4.2.2
cairo==1.16.0
catalogue==2.0.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
cryptography==3.4.7
cycler==0.10.0
cymem==2.0.5
cython-blis==0.7.4
dataclasses==0.8
decorator==4.4.2
defusedxml==0.7.1
diff-match-patch==20200713
docutils==0.17.1
entrypoints==0.3
expat==2.3.0
flake8==3.9.0
font-ttf-dejavu-sans-mono==2.37
font-ttf-inconsolata==3.000
font-ttf-source-code-pro==2.038
font-ttf-ubuntu==0.83
fontconfig==2.13.1
fonts-conda-ecosystem==1
fonts-conda-forge==1
freetype==2.10.4
fribidi==1.0.10
future==0.18.2
getopt-win32==0.1
gettext==0.19.8.1
google-api-core==1.26.3
google-auth==1.30.0
google-cloud-core==1.6.0
google-cloud-storage==1.19.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
graphite2==1.3.13
graphviz==2.47.1
gts==0.7.6
harfbuzz==2.8.1
helpdev==0.7.1
icu==68.1
idna==2.10
imagesize==1.2.0
importlib-metadata==4.0.1
importlib_metadata==4.0.1
intel-openmp==2021.2.0
intervaltree==3.1.0
ipykernel==5.5.4
ipython==7.23.1
ipython_genutils==0.2.0
ipywidgets==7.6.3
isort==5.8.0
jedi==0.17.2
jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jpeg==9d
json5==0.9.5
jsonschema==3.2.0
jupyter-packaging==0.7.12
jupyter-resource-usage==0.5.1
jupyter_bokeh==3.0.0
jupyter_client==6.1.12
jupyter_core==4.7.1
jupyter_server==1.5.1
jupyterlab==3.0.12
jupyterlab_pygments==0.1.2
jupyterlab_server==2.5.1
jupyterlab_widgets==1.0.0
keyring==23.0.1
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
libblas==3.9.0
libcblas==3.9.0
libclang==11.1.0
libcrc32c==1.1.1
libffi==3.3
libgd==2.3.2
libglib==2.68.2
libiconv==1.16
liblapack==3.9.0
libpng==1.6.37
libprotobuf==3.16.0
libsodium==1.0.18
libspatialindex==1.9.3
libtiff==4.2.0
libwebp==1.2.0
libwebp-base==1.2.0
libxcb==1.13
libxml2==2.9.10
lz4-c==1.9.3
m2w64-gcc-libgfortran==5.3.0
m2w64-gcc-libs==5.3.0
m2w64-gcc-libs-core==5.3.0
m2w64-gmp==6.1.0
m2w64-libwinpthread-git==5.0.0.4634.697f757
markupsafe==1.1.1
matplotlib==3.4.1
matplotlib-base==3.4.1
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
mkl==2021.2.0
msys2-conda-epoch==20160418
multidict==5.1.0
murmurhash==1.0.5
mypy_extensions==0.4.3
nbclassic==0.2.8
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.3.0
numpy==1.20.2
numpydoc==1.1.0
olefile==0.46
openssl==1.1.1k
packaging==20.9
pandas==1.2.4
pandoc==2.13
pandocfilters==1.4.3
pango==1.48.4
paramiko==2.7.2
parso==0.7.0
pathspec==0.8.1
pathy==0.5.2
pcre==8.44
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.2.0
pip==21.1.1
pixman==0.40.0
pluggy==0.13.1
preshed==3.0.5
prometheus_client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.16.0
psutil==5.8.0
pthread-stubs==0.4
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pydantic==1.7.3
pydocstyle==6.0.0
pyflakes==2.2.0
pygments==2.9.0
pygraphviz==1.7
pylint==2.7.2
pyls-black==0.4.6
pyls-spyder==0.3.2
pynacl==1.4.0
pyopenssl==20.0.1
pyparsing==2.4.7
pyqt==5.12.3
pyqt-impl==5.12.3
pyqt5-sip==4.19.18
pyqtchart==5.12
pyqtwebengine==5.12.1
pyrsistent==0.17.3
pysocks==1.7.1
python==3.9.4
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python_abi==3.9
pytz==2021.1
pywin32==300
pywin32-ctypes==0.2.0
pywinpty==1.0.1
pyyaml==5.4.1
pyzmq==22.0.3
qdarkstyle==2.8.1
qt==5.12.9
qtawesome==1.0.2
qtconsole==5.1.0
qtpy==1.9.0
regex==2021.4.4
requests==2.25.1
rope==0.18.0
rsa==4.7.2
rtree==0.9.7
s3transfer==0.4.2
scikit-learn==0.24.1
scipy==1.6.3
send2trash==1.5.0
setuptools==52.0.0
shellingham==1.4.0
six==1.16.0
smart_open==3.0.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcontainers==2.3.0
spacy==3.0.5
spacy-legacy==3.0.5
sphinx==4.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder==4.2.5
spyder-kernels==1.10.2
sqlite==3.35.5
srsly==2.4.1
tabulate==0.8.9
tbb==2021.2.0
terminado==0.9.4
testpath==0.4.4
textdistance==4.2.1
thinc==8.0.3
threadpoolctl==2.1.0
three-merge==0.1.1
tk==8.6.10
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
typed-ast==1.4.3
typer==0.3.2
typing-extensions==3.7.4.3
typing_extensions==3.7.4.3
tzdata==2021a
ujson==4.0.2
urllib3==1.26.4
vc==14.2
vs2015_runtime==14.28.29325
wasabi==0.8.2
watchdog==1.0.2
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.36.2
widgetsnbextension==3.5.1
win_inet_pton==1.1.0
wincertstore==0.2
winpty==0.4.3
wrapt==1.12.1
xorg-kbproto==1.0.7
xorg-libice==1.0.10
xorg-libsm==1.2.3
xorg-libx11==1.7.0
xorg-libxau==1.0.9
xorg-libxdmcp==1.1.3
xorg-libxext==1.3.4
xorg-libxpm==3.5.13
xorg-libxt==1.2.1
xorg-xextproto==7.3.0
xorg-xproto==7.0.31
xz==5.2.5
yaml==0.2.5
yapf==0.31.0
yarl==1.6.3
zeromq==4.3.4
zipp==3.4.1
zlib==1.2.11
zstd==1.4.9